/* Common */
body {
  font-family: 'Roboto', sans-serif;
}

primary-grey {
  background-color: #f3f5f9;
}

secondary-white {
  background-color: #ffffff;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

h6 {
  color: #fff;
}

h2, h3, h4, h5 {
  color: #031b4e;
}

p {
  color: #5b6987;
  font-weight: 300;
}

.btn.primary-white {
  background-color: transparent;
  border-color: #0069ff;
  color: #0069ff;
  font-weight: bold;
}

.btn.primary-blue {
  background-color: #006aff;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
}

/************************* Header *************************/

/* Header - Navbar */
nav.navbar.navbar-default.navbar-fixed-top {
  font-weight: 500;
  background-color: #ffffff !important;
  margin-bottom: 0;
  box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.3);
}

.navbar.navbar-default .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-header {
  height: 65px;
}

nav a:hover {
  color: #006aff !important;
  text-decoration: none;
}

.navbar-header button.navbar-toggle.collapsed {
  border: none;
  padding-top: 17.5px;
}

.navbar-header button.navbar-toggle.collapsed > .icon-bar {
  background-color: #5b6987;
  margin: 0px;
  margin-bottom: 3px;
  width: 20px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.navbar-header > a.navbar-brand {
  padding-top: 18px;
}

.navbar-header > a.navbar-brand > img {
  height: 28px;
}

#navbar-top {
  border-bottom: 1px solid rgb(229,232,237);
  font-size: 13px;
  width: 100%;
  max-height: 40px;
}

#navbar-top .nav.navbar-nav.navbar-left {
  max-height: 40px;
  line-height: 40px;
}

#navbar-top .nav.navbar-nav.navbar-left > a:first-child > span {
  text-transform: uppercase;
  background-color: rgb(0,215,210);
  color: rgb(3,27,78);
  font-size: 10px;
  font-weight: 500;
  cursor: default;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 8px;
}

#navbar-top .nav.navbar-nav.navbar-left > a:last-child {
  color: #5b6987;
}

#navbar-top .nav.navbar-nav.navbar-left > a:last-child::after {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: #5b6987;
  font-size: 13px;
  margin-left: 5px;
}

#navbar-top .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}

#bs-example-navbar-collapse-1 {
  padding-top: 10px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
  margin-left: 10px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li > a {
  color: hsl(221,93%,16%);
  font-size: 15px;
}

ul.nav.navbar-nav li.dropdown a::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: hsl(221,93%,16%);
  font-size: 15px;
  margin-left: 5px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn {
  font-size: 15px;
  padding: 7px 7px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn:first-child {
  margin-right: 6px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn:first-child:hover {
  background-color: #006aff;
  border-color: transparent;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.25s ease-in-out
}

/* Header - Jumbotron */
header #jumbotron {
  padding-top: 180px;
  padding-bottom: 70px;
  background-color: #0069ff;
  background-image: url('img/bg_jumbo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#jumbotron p {
  color: #fff;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 1px;
  padding: 15px 0 25px 0;
}

#jumbotron #form-section {
  background-color: #fff;
  border-radius: 6px;
  max-width: 370px;
  margin: 0 auto 10px;
}

#form-section h3 {
  background-color: #f3f5f9;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 25px 0 20px 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#jumbotron form,
#form-section .buttons-bottom {
  padding: 30px;
}

.form-group input {
  width: 100%;
  height: 48px;
  border: 1px solid #e5e8ed;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 16px;
  color: #031b4e;
  box-shadow: none;
}

.form-group input:focus {
  border-color: #0069ff;
  outline: #0069ff;
  box-shadow: none;
}

form {
  border-bottom: 1px solid #f3f5f9;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

#form-section form button.primary-blue {
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
}

#form-section form button.primary-blue:hover {
  background-color: #1633ff;
  transition: background-color 0.3s ease;
}

.buttons-bottom button.primary-white {
  padding: 10px 0;
  height: 48px;
  width: calc(80% - 7px);
  font-size: 18px;
  margin-right: 5px;
}

.buttons-bottom button.primary-white:hover {
  color: #363636;
  border-color: #5b6886;
}

.buttons-bottom a.btn {
  width: calc(20% - 2px);
  font-size: 20px;
  height: 48px;
  padding-top: 10px;
}

.buttons-bottom a.btn:hover {
  border-color: #5b6886;
}

#jumbotron small {
  display: block;
}

#jumbotron small,
small > span > a {
  color: #fff;
  font-size: 13px;
}

#jumbotron small > span > a:hover {
  color: #fff;
  border-bottom: dotted 1px rgba(255,255,255,0.5);
  text-decoration: none;
}

/************************* Main *************************/

/* Section -  */

main section {

}

/************************* Footer *************************/

/******* Responsive Navbar - Breakpoint 1024px - Mobile First *******/
@media screen and (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Responsive - Breakpoint 768px */
@media screen and (min-width: 768px) {
  #jumbotron h1 {
    font-size: 58px;
    letter-spacing: 2px;
  }
}

/* Responsive - Breakpoint 992px */
@media screen and (min-width: 992px) {
  #jumbotron h1,
  #jumbotron p {
    text-align: left;
  }

  #jumbotron .title-subtitle {
    padding-top: 120px;
  }

  #jumbotron #form-section {
    margin-right: 0;
  }
}

/* Responsive - Breakpoint 1024px */
@media screen and (min-width: 1024px) {
  header #jumbotron {
    padding-top: 230px;
    padding-bottom: 160px;
  }
}

/* Responsive - Breakpoint 1200px */
@media screen and (min-width: 1200px) {
  .no-padding-right {
    padding-right: 0 !important;
  }

  #bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    margin-left: 35px;
  }

  .navbar-right {
    margin-right: 0px;
  }

  .nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn {
    padding: 7px 20px;
  }

  .nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn:first-child {
    margin-right: 15px;
  }
}
