/* Common */
body {
  font-family: 'Roboto', sans-serif;
}

primary-grey {
  background-color: #f3f5f9;
}

secondary-white {
  background-color: #ffffff;
}

h1, h6 {
  color: #fff;
}

h2, h3, h4, h5 {
  color: #031b4e;
}

p {
  color: #5b6987;
}

.btn.primary-white {
  background-color: transparent;
  border-color: #006aff;
  color: #006aff;
}

.btn.primary-blue {
  background-color: #006aff;
  border-color: transparent;
  color: #fff;
}

/************************* Header *************************/

/* Header - Navbar */
nav.navbar.navbar-default.navbar-fixed-top {
  font-weight: 500;
  background-color: #ffffff !important;
  margin-bottom: 0;
}

.navbar.navbar-default .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

nav a:hover {
  color: #006aff !important;
  text-decoration: none;
}

.navbar-header button.navbar-toggle.collapsed {
  border: none;
}

.navbar-header button.navbar-toggle.collapsed > .icon-bar {
  background-color: #5b6987;
  margin: 0px;
  margin-bottom: 3px;
  width: 20px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.navbar-header > a.navbar-brand {
  padding-top: 18px;
}

.navbar-header > a.navbar-brand > img {
  height: 27px;
}

#navbar-top {
  border-bottom: 1px solid rgb(229,232,237);
  font-size: 13px;
  width: 100%;
}

#navbar-top .navbar-left {
  line-height: 51px;
}

#navbar-top .nav.navbar-nav.navbar-left > a:first-child > span {
  text-transform: uppercase;
  background-color: rgb(0,215,210);
  color: rgb(3,27,78);
  font-size: 10px;
  font-weight: 500;
  cursor: default;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 8px;
}

#navbar-top .nav.navbar-nav.navbar-left > a:last-child {
  color: #5b6987;
}

#navbar-top .nav.navbar-nav.navbar-left > a:last-child::after {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: #5b6987;
  font-size: 13px;
  margin-left: 5px;
}

#bs-example-navbar-collapse-1 {
  padding-top: 10px;
  padding-bottom: 5px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
  margin-left: 16px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li > a {
  color: hsl(221,93%,16%);
  font-size: 15px;
}

ul.nav.navbar-nav li.dropdown a::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: hsl(221,93%,16%);
  font-size: 15px;
  margin-left: 5px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn {
  font-weight: bold;
  font-size: 15px;
  padding: 7px 10px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn:first-child {
  margin-right: 10px;
}

.nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn:first-child:hover {
  background-color: #006aff;
  border-color: transparent;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.25s ease-in-out
}

/* Header - Jumbotron */
header #jumbotron {
  padding-top: 122px;
  background-color: #0069ff;
}

#jumbotron form {
  background-color: #fff;
}

#jumbotron form h3 {
background-color: #f3f5f9;
  color: #363636;
  font-weight: 700;
  font-size: 20px;
}

/************************* Main *************************/

/************************* Footer *************************/

/******* Responsive Navbar - Breakpoint 1024px - Mobile First *******/
@media screen and (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Responsive - Breakpoint 768px */
@media screen and (min-width: 767px) {
}

/* Responsive - Breakpoint 992px */
@media screen and (min-width: 991px) {
}

/* Responsive - Breakpoint 1024px */
@media screen and (min-width: 1023px) {
}

/* Responsive - Breakpoint 1200px */
@media screen and (min-width: 1199px) {
  .no-padding-right {
    padding-right: 0 !important;
  }

  #bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    margin-left: 35px;
  }

  .navbar-right {
    margin-right: 0px;
  }

  .nav.navbar-nav.navbar-right .btn.btn-default.navbar-btn {
    padding: 7px 14px;
  }
}
